body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    box-sizing: border-box;
  }
  
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .loginBox {
    width: 400px;
    padding: 40px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .loginTitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .loginloginForm {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ccc;
  }
  
  .phoneInput {
    display: flex;
  }
  
  .codeInput {
    width: 60px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
  }
  
  .phoneInputField {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
  }
  
  .forgotPassword {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .registerLink {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
  }
  
  .registerLink a {
    color: #007bff;
    text-decoration: none;
  }
  